body{

background-color: #7CDBD5;
}
p{
background-color: #F9BE02;

}
#five{
padding: 5px;
border: 5px #F53240 solid;
margin: 5px;
}
#ten{
padding: 10px;
border: 10px #F53240 solid;
margin: 10px;


}
#fifty{

padding: 50px;
border: 50px #F53240 solid;
margin: 50px;

}
#Onehundred{
padding: 100px;
border: 100px #F53240 solid;
margin: 100px;

}
/*BT 4.2.2*/

#width50 {
  background-color:red;
  width: 50%;
}
#width80max {
  background-color: orange;
  width: 80%;
  max-width: 1000px;
}
#width30min {
  background-color: yellow;
  width: 30%;
  min-width: 200px;
}
.heightSet {
  background-color: pink;
  height: 25%;
}
#containingBlock {
  height: 500px;
}

/*BT 4.2*/
h1{

    background-color: red;
    width: 500px;
    text-align: center;
}
h2{

    background-color: orange;
    text-align: right;

}

h3{

background-color: green;
line-height: 1.2;

}
h4{


background-color: pink;
height: 200px;
line-height: 4;
}
p{

    background-color: yellow;
    width: 500px;
    padding: 10px;
    text-align: justify;
}
/*BT4.2.3*/

h1 {
  background-color: red;
  width: 50%;
  margin: 0 auto;
}
p {
  background-color: orange;
  width: 70%;
}
a {
  display: block;
  width: 100px;
  margin: 0 auto;
}
section {
  background-color: yellow;
  width: 70%;
  margin: 0 auto;
}
div {
  background-color: pink;
  width: 50%;
  margin: 0 auto;
}

/*BT4.2.4*/
body {
  font-family: Tahoma;
}

header {
  background-color: #EC576B;
  color: white;
  border-bottom: 5px #FEDC3D solid;
}

header h1 {
  border-bottom: 2px #FFFFFF solid;
}

header p {
  border-bottom: 2px #FFFFFF solid;
}

section {
  background-color: #FEDC3D;
}

h2 {
  border-bottom: 5px #000000 solid;
}

article {
  background-color: #FFFFFF;
}

#leftP {

}

#rightP {

}

h3 {

}

footer {
  background-color: #4EC5C1;
  border-top: 5px #FEDC3D solid;
  color: white;
}
/*BT 4.3.2*/
body {
  font-size: 24pt;
  font-family: helvetica, sans-serif;
}
div {
  margin-bottom: 10px;
}
#default {
  background-color: red;
}
#floatRightNoWidth {
  background-color: orange; 
  float: right;
}
#floatRightTooWide {
  background-color: yellow;
  float: right;
}
#noFloatWidthSet {
  background-color: green;
  width: 40%;
}
#noFloatClearRight {
  background-color: purple;
  clear: right;
}
#floatRightWidthSet {
  background-color: blue;
  width: 30%;
  float: right;
}
/*BT 4.3.3*/

body {
  background-color: #4ABDAC;
  color: #FFFFFF;
  font-family: Georgia, serif;
}
header {
  background-color: #F7B733;
  height: 75px;
}

h1 {
  padding: 15px;
}
#navigation {
  height: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#navigation li:hover {
  border-bottom: 1px #FC4A1A solid;
}
#content {
  background-color: #DFDCE3;
  width: 50%;
  margin: 0 auto;
}
div {
  background-color: #FC4A1A;
  width: 250px;
  height: 150px;
  padding: 10px;
  margin: 20px;
}
/*BT 4.4.2*/
h1 {
  background-color: red;
  width: 300px;
  position: relative;
  left: 150px;
}
section {
  background-color: orange;
  height: 100px;
}
h2 {
  position: relative;
  top: 20px;
}
footer {
  background-color: yellow;
  height: 200px;
  width: 300px;
  position: relative;
  left: 50px;
  top: 50px;
}
h3 {
  position: relative;
  top: 50px;
  left: 10px;
}
/*BT 4.4.2 */

h1 {
       background-color: red;
       width: 300px;
       position: relative;
       left: 150px;
    }
    section {
       background-color: orange;
       height: 100px;
    }
    h2 {
       position: relative;
       top: 20px;
    }
    footer {
       background-color: yellow;
       height: 200px;
       width: 300px;
       position: relative;
       left: 50px;
       top: -50px;
    }
    h3 {
       position: relative;
       top: 50px;
       left: 10px;
    }
/*BT 4.4.3*/
body {
  background-color: #EFEFEF;
  color: #A9A9A9;
  font-family: "Book Antiqua", serif; 
}
h1 {
  color: #FF3B3F;
}
h2 {
}
div {
  background-color: #CAEBF2;
  width: 80%;
}
h3 {
  color: #FF3B3F;
}
p {
  width: 90%;
}